

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: 'poppins', sans-serif;
}


body, h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0.05em;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.navigation li{
    font-size: 25px;
    padding-left: 50px;
    cursor: pointer;

}
.navigation li:hover{
color: red;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navigationforphone{
    display: none;
}
.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}
.home{
    background-image: linear-gradient(to right,violet, yellow 135%);
}
#home-img{
    height: 750px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.homepage-informationspace{
    position: absolute;
    background-color: rgb(231, 64, 92, 0.6);
    top: 35%;
    left: 10%;
    width: 40%;
    padding: 35px;
}
.homepage-informationspace h1{
    color: white;
    font-size: 50px;
    text-transform: uppercase;

}
.homepage-informationspace p{
    font-size: 20px;
    color: white;
}
.order{
    padding-top: 125px;
    text-align: center;
}
.order-title{
    color: white;
    font-size: 50px;
    padding-bottom: 100px;
    letter-spacing: 10px;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.cards{
    height: 450px;
    width: 350px;
    background-color: white;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.cards img{
    height: 70%;
    width: 80%;
    margin: auto;
    display: block;
    border-top-right-radius: 70px;
    padding-top: 20px;
}
#order-btn{
    padding: 20px 70px 20px 70px;
    border-radius: 35px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 150px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
#order-btn:hover {
    background-color: rgb(63, 224, 116);
    color: white;
    transform: scale(1.05);
    transition: 0.4s;
}

@media screen and (max-width: 1150px) {
    .cards-container{
        flex-direction: column;
        align-items: center;
    }
    .cards{
        margin-bottom: 50px;
    }
    .homepage-informationspace {
        margin-top: 20%;
        width: 80%; 
        left: 10%; 
        padding: 20px; 
    }
}
@media (max-width: 1050px) {
    .nav-list {
        display: none;
    }

    .icons{
        float: right;    
    }

    .hamburger {
        display: flex;
    }
.navigation{
    background-image: linear-gradient(to right,violet, yellow 135%);
}
    .navigationforphone {
        display: block;
        background-image: linear-gradient(to right,violet, yellow 135%);
        color: rgb(255, 255, 255);
        padding: 20px;
    }
    .navigationforphone:hover{
        color: red;
    }
    .navigationforphone ul {
        list-style: none;
    }

    .navigationforphone li {
        margin-bottom: 10px;
    }

    .navigationforphone a {
        color: white;
        text-decoration: none;
    }
}